#hallmarks {
  .hallmark {
    padding: 64px;
    background: $bluegrey-100;
    border-radius: 70px;
    overflow: hidden;
    position: relative;
    margin-bottom: 32px;
    min-height: 568px;

    @include mobileScreen {
      min-height: 0;
      border-radius: 16px;
      padding: 16px;
    }

    &.dark {
      background: $bluegrey-200;
    }

    &.purple {
      background: $purple-25;
    }

    &.green {
      background: $green-50;
    }

    h2,
    p {
      margin: 0 0 16px;
    }


    p {
      font-size: 1rem;
      line-height: 24px;
      color: $muted;
    }

    .text {
      padding-right: 64px;
    }

    &.vertical {
      display: flex;
      flex-direction: column;
      padding: 0;
      //min-height: 0;

      .text {
        padding: 64px;
        height: 50%;

        @include mobileScreen {
          padding: 32px 16px 0;

          height: auto;
        }
      }

      .text,
      .art {
        flex: 1;
      }

      .art {
        display: flex;
        align-items: flex-end;
        width: 100%;


        img {
          display: block;
          width: 100%;
        }
      }
    }

    &.recurring {
      min-height: 0;
      background: $blue-50;

      .row {
        align-items: center;
      }

      .browser {
        margin-bottom: 140px;
        transform: scale(0);
        opacity: 0;
        height: 450px;
        margin: 0;
        transition: .5s ease-in-out;
        background: #f8fafc;

        &__body {
          background: #f8fafc;
        }

        .order-line {
          margin-top: 4px;
          display: block;
          width: 100%;
          height: 41px;
          overscroll-behavior: hidden;

          &.hide {
            transition: .5s ease-in-out;
            opacity: 0;
            margin: 0 0 -41px;
          }
        }

        .order-mr {
          opacity: 0;
          transition: .5s ease-in-out;
          opacity: 0;
          margin: 0 0 -41px;
          height: 41px;
          display: block;
          width: 100%;

          &.on {
            opacity: 1;
            margin: 4px 0 0;
          }
        }

        &.inview {
          transform: scale(1);
          opacity: 1;
        }

        .z-drop {
          // position: absolute;
          //width: 140px;
          //left: 60px;
          z-index: 2;
          margin: 0;
          //padding: 8px;
          border-radius: 8px;
          background: $blue-50;
          // box-shadow: 4px 4px 0px rgba(20, 84, 153, 0.05);
          //visibility: hidden;

          // height: 41px;
          display: flex;
          align-items: center;
          padding: 4px;
          margin-top: 4px;

          border: 1px solid rgba(0, 0, 0, 0.15);

          .z-btn {
            color: $gray-700;
            background: $gray-200;
          }

          .z-btn {
            height: 36px;
            font-weight: 400;
            font-size: 12px;
            transition: none;
            margin-right: 4px;
            width: 100px;

            &.click {
              animation: click .5s linear;
            }
          }

          &.exec {
            top: 67px;
            visibility: visible;
            transition: visibility .25s linear;

            .z-btn {

              &:nth-child(1) {
                background: $blue-500;
                color: $white;
              }

            }
          }

          &.merge {
            top: 108px;
            visibility: visible;
            transition: visibility .25s linear;

            .z-btn {
              &:nth-child(2) {
                background: $blue-500;
                color: $white;
              }
            }
          }
        }
      }

      .art {
        display: none;
      }

      @include mobileScreen {
        .row {
          margin: 0;
        }

        .col {
          padding: 0;
        }

        .text {
          padding: 32px 16px 0;
        }

        .art {
          display: block;
          margin-right: -16px;
          padding-bottom: 16px;

          img {
            display: block;
            width: 100%;
          }
        }

        .col:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
