// BASE
$current: currentColor !default;
$white: #ffffff !default;
$gray-50: #FBFBFC !default;
$gray-100: #F7F8F9 !default;
$gray-200: #F0F0F4 !default;
$gray-300: #E8E9EE !default;
$gray-400: #E1E1E9 !default;
$gray-500: #D9DAE3 !default;
$gray-600: #AEAEB6 !default;
$gray-700: #8D8E94 !default;
$gray-800: #6D6D71 !default;
$gray-900: #414144 !default;
$black: #000000 !default;

// BLUEGREY
$bluegrey-50: #FBFDFE !default;
$bluegrey-100: #F8FAFC !default;
$bluegrey-200: #F0F5F9 !default;
$bluegrey-300: #E9F0F6 !default;
$bluegrey-400: #E1EBF3 !default;
$bluegrey-500: #DAE6F0 !default;
$bluegrey-600: #AEB8C0 !default;
$bluegrey-700: #8E959C !default;
$bluegrey-800: #6D7378 !default;
$bluegrey-900: #414548 !default;

// YELLOW
$yellow-50: #FFF9EA !default;
$yellow-100: #FFF3D5 !default;
$yellow-200: #FFE6AA !default;
$yellow-300: #FEDA80 !default;
$yellow-400: #FECD55 !default;
$yellow-500: #FEC12B !default;
$yellow-600: #CB9A22 !default;
$yellow-700: #A57D1C !default;
$yellow-800: #7F6015 !default;
$yellow-900: #4C3A0D !default;

// ORANGE
$orange-50: #FFF2EA !default;
$orange-100: #FFE6D5 !default;
$orange-200: #FECCAA !default;
$orange-300: #FEB380 !default;
$orange-400: #FD9955 !default;
$orange-500: #FD802B !default;
$orange-600: #CA6622 !default;
$orange-700: #A4531C !default;
$orange-800: #7F4015 !default;
$orange-900: #4C260D !default;

// PINK
$pink-50: #FDECF4 !default;
$pink-100: #FAD9E8 !default;
$pink-200: #F5B3D1 !default;
$pink-300: #F18EBA !default;
$pink-400: #EC68A3 !default;
$pink-500: #E7428C !default;
$pink-600: #B93570 !default;
$pink-700: #962B5B !default;
$pink-800: #732146 !default;
$pink-900: #45142A !default;

// PURPLE
$purple-25: #F6F2FF !default;
$purple-50: #EFE6FF !default;
$purple-100: #E0CDFE !default;
$purple-200: #C19BFE !default;
$purple-300: #A269FD !default;
$purple-400: #8337FD !default;
$purple-500: #6405FC !default;
$purple-600: #5004CA !default;
$purple-700: #4103A4 !default;
$purple-800: #32027E !default;
$purple-900: #1E014C !default;

// INDIGO
$indigo-50: #ECECF1 !default;
$indigo-100: #D9DAE3 !default;
$indigo-200: #B2B5C8 !default;
$indigo-300: #8C8FAC !default;
$indigo-400: #656A91 !default;
$indigo-500: #3F4575 !default;
$indigo-600: #32375E !default;
$indigo-700: #292D4C !default;
$indigo-800: #20223A !default;
$indigo-900: #131523 !default;

// BLUE
$blue-50: #ECF2FB !default;
$blue-100: #D9E5F8 !default;
$blue-200: #B2CAF0 !default;
$blue-300: #8CB0E9 !default;
$blue-400: #6595E1 !default;
$blue-500: #3F7BDA !default;
$blue-600: #3262AE !default;
$blue-700: #29508E !default;
$blue-800: #203E6D !default;
$blue-900: #132541 !default;

// GREEN
$green-50: #F3F8F0 !default;
$green-100: #E7F1E1 !default;
$green-200: #CFE3C3 !default;
$green-300: #B6D4A5 !default;
$green-400: #9EC687 !default;
$green-500: #86B869 !default;
$green-600: #6B9354 !default;
$green-700: #577844 !default;
$green-800: #435C35 !default;
$green-900: #28371F !default;
